.content {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 10px;
}

#header {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: small;
    justify-self: center;
}

#signin span{
    color: rgb(129, 145, 239);
}

#signin span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.error{
    color: red;
}