<table class="data-table">

    <thead>
        <tr>
            @for (column of columns; track column.key) {
                <th
                    [style.width]="column.width"
                    [class.sortable]="column.sortable !== false"
                    (click)="column.sortable !== false && sort(column.key)">

                    {{ column.label }}

                    @if (column.sortable !== false) {
                        {{ getSortIcon(column.key) }}
                    }
                </th>
            }

            @if (showDelete) {
                <th>Delete</th>
            }

            @if (showEdit) {
                <th>{{ placeHolder }}</th>
            }
        </tr>

    </thead>

    <tbody>
        @for (item of pagedData; track $index) {
            <tr (click)="onRowClick(item)">
                @for (column of columns; track column.key) {
                    <td>
                        @switch (column.type) {
                            @case ('date') {
                                {{ $any(item)[column.key] | date:'dd/MM/yyyy' }}
                            }
                            @case ('boolean') {
                                {{ $any(item)[column.key] ? 'Yes' : 'No' }}
                            }
                            @case ('select') {
                                <select
                                    (change)="onSelectChange(item, column, $event)"
                                    >
                                    <option
                                        *ngFor="let opt of column.options"
                                        [value]="opt.value"
                                        [selected]="opt.value === item[column.key]"
                                    >
                                        {{ opt.label }}
                                    </option>
                                </select>
                            }

                            @default {
                                {{ $any(item)[column.key] }}
                            }
                        }
                    </td>
                }

                @if (showDelete) {
                    <td
                        class="delete-btn"
                        (click)="onDelete(item); $event.stopPropagation()">
                        ✕
                    </td>

                }
                @if (showEdit) {
                    <td
                        class="delete-btn"
                        (click)="onEdit(item); $event.stopPropagation()">
                        ✏️
                    </td>
                }
            </tr>

        }
    </tbody>
</table>

<div class="pagination">
    <button
        (click)="previousPage()"
        [disabled]="currentPage === 1">
        <
    </button>

    <span>
        {{ currentPage }} of {{ totalPages }}
    </span>
    <button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages">
        >
    </button>
</div>