button {
    border-radius: 10px;
    font-size: 18px;
    height: 40px;
    width: 25vw;
    border: 0px;
    color: var(--background-color);
    background-color: var(--text-primary);
}

button:hover{
    background-color: var(--text-secondary);
    cursor: pointer;
}