.light-theme {
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --text-primary: #212121;
  --text-secondary: #616161;
  --border-color: #e0e0e0;
  --sidebar-bg: rgb(246, 246, 246);
  --sidebar-color: #212529;
}

.dark-theme {
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --border-color: #424242;
  --sidebar-bg: rgb(52, 52, 52);
  --sidebar-color: #F8F9FA;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: var(--background-color);
  color: var(--text-primary);

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}