<div class="content">

    @if (enter) {

        <p id="header">Choose your role</p>

        <div class="role-selector">

            <label>
                <input type="radio" name="role" value="hr" [(ngModel)]="role">
                HR
            </label>

            <label>
                <input type="radio" name="role" value="recruiter" [(ngModel)]="role">
                Recruiter
            </label>

            <label>
                <input type="radio" name="role" value="interviewer" [(ngModel)]="role">
                Interviewer
            </label>

            <label>
                <input type="radio" name="role" value="candidate" [(ngModel)]="role">
                Candidate
            </label>

        </div>

        @if (!showValid) {
            <p class="error">{{ contextText }}</p>
        }

        <div class="button-group">
            <app-button
                cls="selectRole"
                label="Next"
                (clicked)="selectRole()">
            </app-button>

            <app-button
                cls="selectRole"
                label="Back"
                (clicked)="signupPage()">
            </app-button>
        </div>

    } @else {

        <p id="header">Create an account</p>

        <app-input-field
            class="inputField"
            label="Username"
            placeholder="Enter username"
            [(value)]="username">
        </app-input-field>

        <app-input-field
            class="inputField"
            label="Password"
            placeholder="Enter password"
            type="password"
            [(value)]="password">
        </app-input-field>

        <app-input-field
            class="inputField"
            label="Confirm Password"
            placeholder="Re-enter password"
            type="password"
            [(value)]="rePassword">
        </app-input-field>

        <div class="button-group">

            <app-button
                cls="createAccount"
                label="Next"
                (clicked)="createAccount()">
            </app-button>

            <app-button
                cls="selectRole"
                label="Back"
                (clicked)="selectRole()">
            </app-button>
        </div>
    }

</div>