<nav class="sidebar">

    @if(showSidebar()){
        <div class="fullSidebar">

            <div id="fullSidebarHead">
                <p id="title">{{title}}</p>
                <p id="hideSidebar" (click)="hide()">☰</p>
            </div>
            <hr>

            @for (item of naviList; track $index) {
                <li class="lis">
                    <app-button
                        class="navbarBtn"
                        label={{item}}
                        minWidth= "200px"
                        maxWidth="220px"
                        bgColor= "transparent"
                        color="var(--text-primary)"
                        position="left"
                        leftPad="20px"
                        (clicked)="clickBtn(item)"
                    ></app-button>
                </li>
            }

        </div>
    }

    @else {
        <div class="hiddenSidebar">

            <div id="hiddenSidebarHead">
                <p id="hideSidebar" (click)="hide()">☰</p>
            </div>

            <hr>

            @for (item of naviList; track $index) {
                <li class="lis">
                    <app-button
                        class="navbarBtn"
                        label={{item[0]}}
                        minWidth= "60px"
                        maxWidth="60px"
                        bgColor= "transparent"
                        color="var(--text-primary)"
                        position="left"
                        leftPad="20px"
                        (clicked)="clickBtn(item)"
                    ></app-button>
                </li>
            }

        </div>
    }

</nav>