button {
    border-radius: 10px;
    font-size: 18px;
    height: 40px;
    width: 25vw;
    min-width: var(--btn-minWidth);
    max-width: var(--btn-maxWidth);
    border: 0px;
    color: var(--btn-color);
    background-color: var(--btn-bgColor);
    text-align: var(--btn-position);
    padding-left: var(--btn-leftPad);
    
}

button:hover{
    background-color: var(--text-secondary);
    cursor: pointer;
}