@if(isOpen){

<div class="overlay">

    <div class="dialog">

        <p id="title">{{ title }}</p>
        
        <hr>

        <p id="message">{{ message }}</p>

        <div class="actions">

            <button
                class="cancel-btn style-btn"
                (click)="onCancel()">
                {{ cancelText }}
            </button>

            <button
                class="confirm-btn style-btn"
                (click)="onConfirm()">
                {{ confirmText }}
            </button>

        </div>

    </div>

</div>

}